body {
    height: 100vh;
    padding: 0 14px;
    background-image: url(../images/marc-wieland-zrj-TPjcRLA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input,
button,
p {
    padding: 14px !important;
    border-radius: 20px;
    transition: .2s;
}

input,
button {
    outline: 0;
    border: 1px solid transparent !important;
}

input:focus {
    border: 1px solid #03658C !important;
}

@media (max-width:567px) {
    p {
        font-size:14px !important;
    }
}

p {
    border: 1px solid #4A808C;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: none;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
}

p:hover {
    transform: translateY(-2px);
    opacity: .7;
}

p:not(#error) {
    color: #013440;
    background-color: #F2F2F0;
}

#error {
    color: #013440;
    background-color: #F2F2F0;
}

::-webkit-scrollbar {
    border-radius: 8px;
    width: 6px;
    background-color: #013440;
}

::-webkit-scrollbar-thumb {
    background-color: #F2F2F0;
    border-radius: 8px;
    cursor: pointer;
}